<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h2 {
        font-size: 30px
        }
        #h1-text {
        font-size: 50px
        }
    </style>
</head>
<body>
<div>
<h1 id="h1-text">Text h 1</h1>
<h2> h2</h2>
<p>Zdarova kekw</p>
<a href="https://stepik.org/lesson/1664929/step/6?unit=1687939">python </a>
<ul>
    <li>Item1</li>
    <li>Item2</li>
    <li>Item3</li>
</ul>
    <form action="/action" method="POST">
    <input type="Text" placeholder="login">
        <textarea placeholder="mem"></textarea>
        <button type="submit">Knopka</button>
        <input type="email" placeholder="Email">
        <input type="password" placeholder="pssw">
    </form>
    <table>
        <thead>
        <tr>
            item1
            item2
            item3
        </tr>
        </thead>
        <tbody>
        <tr>
            row1
            row2
            row3
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>